body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    background-color:#151515;
  color: #171717;
}
.site-wrapper{
  height:initial;
  flex:1 1 auto;

  color:white;
}
footer{
  background-color: #252525;
  z-index: 10;
  width:100%;
  padding: 1.5rem;
  margin-top: auto;
  bottom: 0;
}
.header{
  background-color: #0a0a0a;
  padding: 1.7rem;
  position: relative;
}
.container-lg{
  padding-left: 0;
  padding-right: 0;
}
.row-middle{
  align-items: center;
}
.about-section{
  background-color: #252525;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
.container-sm{
  max-width: 41rem;
  margin-left: auto;
  margin-right: auto;

}
.about-name{
  padding-top:1rem;
  color:white;
  font-size: 2rem;
  font-weight: 600;
}
.about-position{
  color:white;
  font-size: 1.25rem;

}
.about-location{
  color:white;
  font-size: 1.2rem;

}
.about-photo{
  border-radius: 50%;
  width: 155px;
  height: 155px;
}
.about-caps{
  font-size: 2rem;
  font-weight: 500;
  color:white;
}
.about-text{
  color: rgb(155,155,155);
  font-weight: 400;
  line-height: 1.375;
  border-bottom: solid 0.0625rem gray;
  padding-bottom: 2rem;
}
.about-software{
  padding-top: 2rem;
}
.about-skills{
  border-bottom: solid 0.0625rem gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;

}
.summary{

  background-color:#151515;
  padding-top:2rem;
  padding-bottom:2rem;
  .text-align:left;
  
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.title-font{
    font-size:2rem;
    font-weight: 700;
    color:white;
  }
a{
  background-color: transparent;
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #6ED3F5;
}
.active a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95);
  transition: color 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95);
}

.visible-desktop{
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}
.text-right{
  text-align: right;
}
.site-header-col-left{
  max-width: 45%;
  -webkit-box-flex: 1;
  flex:1 1 45%;
}
.site-header-col-right{
  max-width: 55%;
  -webkit-box-flex: 1;
  flex:1 1 55%;
}

.header-nav-item{

  display: inline-block;
  padding-right: 1.875rem;
  vertical-align: top;
}

.tag{
  font-weight: 600;
display: inline-block;
vertical-align: top;
text-transform: uppercase;
font-size: 0.6875rem;
color: inherit;
border: solid 0.0625rem gray;
padding: 0.375rem 0.9375rem;
border-radius: 0.125rem;
}

.software-icon{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  margin-bottom: 0.9375rem;
  padding-top: 1rem;
}
.software-icon-item{
  display:flex;
  flex-wrap:wrap;
  width: 33%;
  font-size: 1rem;
  line-height: 1.375;
  color: lightgray;

}
.software-icon-name{
  padding-left:15px;
}


.fa{
  padding: 5px;
  font-size: 25px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-brands{
  padding: 5px;
  font-size: 25px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
footer a{
  margin-left:8px;
}
.fa-instagram{
  background: #d6249f;
 background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
 box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-artstation{
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: rgba(10,102,194);;
  color: white;
}
